body {
  margin: 0;
}



/* Thanks.css */

.thanks-container {
    position: relative;
  }
  
 
  
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; /* Adjust the text color */
  }
  
  .overlay-text h1 {
    font-size: 3rem; /* Adjust the font size */
    margin-bottom: 10px;
  }
  
  .overlay-text p {
    font-size: 1.5rem; /* Adjust the font size */
  }
  